# Servidor
PORT=5050
NODE_ENV=development

# Base de datos — MongoDB Atlas → Cluster → Connect → Drivers
MONGO_URI=mongodb+srv://usuario:password@cluster.xxx.mongodb.net/red-social

# JWT — genera con:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET=cadena_aleatoria_minimo_32_caracteres
JWT_EXPIRES=7d

# Cloudinary — cloudinary.com → Dashboard → API Keys
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

# CORS — URL del frontend en producción (sin barra al final)
CLIENT_URL=https://red-social-kappa.vercel.app